{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/estilo.css" %}>
</head>
<body>

    <nav class="navbar navbar-dark bg-transparent navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'index' %}">
            {% comment %} conexión a imagen {% endcomment %}
            <img src="{% static 'img/logofactory.jpg' %}" width="200" height="100" class="d-inline-block align-top" alt="Logo"> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                     <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laboratorio' %}">Laboratorios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'pc_armados' %}">PC armados <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto_list' %}">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'pc_gamer' %}">PC GAMERS</a>
                        <a class="dropdown-item" href="{% url 'workstations' %}">WORKSTATIONS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'home_office' %}">OFICINA-HOME OFFICE</a>
                    </div>
                </li>
                <a href="{% url 'carrito' %}">
                    <img src="{% static 'img/carrito-de-compras.png' %}" width="40" height="40" class="d-inline-block align-top" alt="Carrito de compras">
                </a>
            </ul>
            <a href="{% url 'registrarse' %}">
                <button>Registrarse</button>
            </a>
        </div>
    </nav>

    
    <h1>SOLICITUDES</h1>
<div class="container">
<div class="row">
    <table class="table-responsive">
        <thead>
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        {% comment %} <th></th>
                        <th colspan="2">Opciones</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for s in solicitud %}
                    <tr>
                        <td>{{s.codigo}}</td>
                        <td>{{s.nombre}}</td>
                        <td>{{s.cantidad}}</td>
                        {% comment %} <td><a href="edicionCurso/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarCurso/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td> {% endcomment %}
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </tbody>
      </table>
    </div>
</div> 

<div class="contact_form">
    <div class="formulario">
        <div class="container">
            <h1>Formulario de contacto</h1> 
        </div>
        <h3>Escríbenos y en breve nos pondremos en contacto contigo</h3>

        <form action="" method="POST">  {% csrf_token %}
            <p>
                <label for="Codigo" class="colocar_codigo">
                    <span>Codigo</span>
                    <span class="obligatorio">*</span>
                </label>
                <input type="text" name="txtCodigo" id="txtCodigo" required="obligatorio" placeholder="Escribe tu codigo">
            </p>

                  {% comment %} segunda casilla {% endcomment %}
            <p>
                <label for="Nombre" class="colocar_nombre">
                    <span>Nombre y apellido</span>
                    <span class="obligatorio">*</span>
                 </label>
                <input type="text" name="txtNombre" id="txtNombre" required="obligatorio" placeholder="Escribe tu nombre y apellido">
           </p>

            {% comment %} tercera casilla {% endcomment %}
            <p>
                <label for="cantidad" class="colocar_cantidad">
                    <span>Cantidad</span>
                    <span class="obligatorio">*</span>
                </label>
                <input type="text" name="numCantidad" id="numCantidad" required="obligatorio" placeholder="Escribe la cantidad propuesta">
            </p>


            <button type="submit" >
                enviar
            </button>
            <p class="aviso">
                <span class="obligatorio"> * </span>los campos son obligatorios.
            </p>
        </form>
    </div>
</div>
    {% block body %} 
    
    {% endblock %}
    
   
   






    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>


